<div class="row">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Notes</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form method="GET" action="/add_note">
            <button type="submit" class=" btn btn-success btn-block">New Note!</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/data"></a>
          </li>
        <li class="nav-item">
          <form method="GET" action="/logout">
            <button type="submit" class="btn btn-info btn-block">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
</div>